{% extends 'layout.html.twig' %}

{% block content %}
    <header class="row col-sm-12">
        <div>
            <img id="logo" alt="logo" src="images/LOGOreportmeWHITE.png">
        </div>
        {{ SERVER_NAME }}
        <div id="connection">
            {% if user_id and user_name %}
                <div>
                    <div class="connect"><a href="admin.php">(Connecté)</a></div>
                </div>
                <div>
                    <div class="connect"><a id="deconnexion" href="admin.php?action=logout">Déconnexion</a></div>
                </div>
            {% else %}
                <div>
                    <div class="connect"><a href="admin.php">Connexion</a></div>
                </div>
                <div>
                    <div class="connect signIn"><a href="admin.php?action=signIn">S'enregistrer</a></div>
                </div>
            {% endif %}

        </div>
    </header>

{% endblock %}