{% extends 'layout.html.twig' %}

{% block content %}
    <header class="row col-sm-12 mb-0">
        <div>
            <a class="text-white" href="index.php"><img id="logo" alt="logo" src="images/LOGOreportmeWHITE.png"></a>
        </div>
        <div id="connection">
            {% if user_id and user_name %}
                <div>
                    <div class="connect"><a href="admin.php">(Connecté)</a></div>
                </div>
                <div>
                    <div class="connect"><a id="deconnexion" href="admin.php?action=logout">Déconnexion</a></div>
                </div>
            {% else %}
                <div>
                    <div class="connect"><a href="admin.php">Connexion</a></div>
                </div>
                <div>
                    <div class="connect signIn"><a href="admin.php?action=signIn">S'enregistrer</a></div>
                </div>
            {% endif %}
        </div>
    </header>
    <div id="container">
        <section class="d-flex flex-column justify-content-around align-items-center presentation hero mt-0">
            <div class="filter">

            </div>
            <div class="center d-flex flex-column justify-content-around align-items-center">
                <div class="title hero background">

                </div>
                <div class="d-flex flex-column justify-content-around align-items-center title hero">
                    <h1>ReportMe</h1>
                    <p>Les résultats des performances de vos publicités en un rien de temps.</p>
                    <div class="connect signIn"><a href="admin.php?action=signIn">S'enregistrer</a></div>
                </div>

            </div>
        </section>

        <section class="col-xl-12 d-flex flex-wrap justify-content-around align-items-center presentation mainData">
            <div class="col-xl-6 d-flex row">
                <h2 class="col-xl-12">Les statistiques clés en un clin d'oeil</h2>
                <ul>
                    <li>Mise à jour quotidienne</li>
                    <li>Export en format CSV</li>
                </ul>
            </div>
            <img class="col-xl-6 presentation" alt="screenshot main analytical data" src="images/mainData.png"/>
        </section>
        <section
                class="col-xl-12  d-flex flex-wrap justify-content-around align-items-center presentation graphe6months">
            <img class="col-xl-6 presentation" alt="screenshot graphic" src="images/Graphes.PNG"/>
            <div class="col-xl-6 d-flex row">
                <h2 class="col-xl-12">Les évolutions sur les dernières périodes</h2>
                <ul>
                    <li>Visualisation graphique</li>
                    <li>Périodes : 7 et 14 derniers jours, 6 derniers mois</li>
                </ul>
            </div>
        </section>

        <section class="d-flex flex-wrap justify-content-around align-items-center presentation adsets">
            <div class="col-xl-6 d-flex row">
                <h2 class="col-xl-12">Les performances en détail pour chaque publicité</h2>
                <ul>
                    <li>Mise à jour quotidienne</li>
                    <li>Par ensemble publicitaire et par publicité</li>
                    <li>Export en format CSV</li>
                </ul>
            </div>
            <div class="col-xl-6">
                <img class="col-xl-12 presentation" alt="sceenshot publicités" src="images/LesPubs-flou.PNG"/>
            </div>
        </section>
    </div>
{% endblock %}

{% block footer %}
    <footer>
            <!-- Copyright -->
            <div class="d-flex flex-column justify-content-around align-items-center">
                <div>© 2020 Copyright :
                    <a href="https://monymakerz.com/"> MonyMakerz SARL</a></div>
                <div><a href="https://monymakerz.com/mentions-legales/">Mentions légales</a></div>
            </div>
    </footer>
{% endblock %}
