{% extends 'layout.twig' %}

{% block content %}

<link href="css/styles-connexion.css" rel="stylesheet">
<body>
<div id="container">

    <div id="confirm-message">
        <div class="row col-sm-12">
            <a class="" href="index.php"><i class="fas fa-arrow-left"></i>Retour vers l'accueil</a>
        </div>
        <div class="logo">
            <img id="logo" src="../../images/LOGOreportme.png">
        </div>
        <p>Merci pour votre inscription, un e-mail été envoyé à l'adresse suivante :
            {{ access_email }}</p>
        <p>Veuillez vous y rendre et cliquez sur le lien de confirmation pour finaliser votre inscription.</p>
    </div>
</div>

{% endblock %}
