{% extends 'layout.twig' %}

{% block content %}

    <header class="row col-sm-12">
        <div>
            <img id="logo" src="../../images/LOGOreportmeWHITE.png">
        </div>


        <div id="connection">
            {% if user_id and user_name %}
                <div>
                    <button class="connect"><a href="admin.php">(Connecté)</a></button>
                </div>
                <div>
                    <button class="connect"><a id="deconnexion" href="admin.php?action=logout">Déconnexion</a></button>
                </div>
            {% else %}
                <div>
                    <button class="connect"><a href="admin.php">Connexion</a></button>
                </div>
                <div>
                    <button class="connect signIn"><a href="admin.php?action=signIn">S'enregistrer</a></button>
                </div>
            {% endif %}

        </div>
    </header>

{% endblock %}